* {
    margin: 0;
    padding: 0;
}

:root {
    --cabecalho: #18151B;
    --fundo: #211D24;
    --dourado: linear-gradient(180deg, rgba(222, 191, 0, 0.8) 33.33%, rgba(255, 255, 255, 0.8) 77.08%);
    --escrita: #BBAC5F;
    --vermelho: #CF4533;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabecalho);
    padding: 0.5em 1em 0 1em
}

nav ul {
    display: none;
}

nav p:active {
    display: block;
}

h1, h2, p, li {
    color: var(--escrita);
}