@import url("components/header.css");
@import url("components/reset.css");
@import url("components/item.css");

:root {
    --cabecalho: #06070D;
    --fundo: #15191E; 
    --dourado: linear-gradient(180deg, rgba(222, 191, 0, 0.8) 0%, #FFED81 89.72%);
    --dourado2: linear-gradient(180deg, rgba(176, 116, 31, 0.8) 33.33%, rgba(245, 221, 158, 0.8) 77.08%);
    --escrita: #BBAC5F;
    --bege: rgba(176, 116, 31, 0.8);
}

@font-face {
    font-family: HarryP;
    src: url("../css/fonts/harryp.TTF");
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: var(--fundo);
}

::-webkit-scrollbar-thumb {
    background: var(--bege);
    border-radius: 1em;
}

body {background-color: var(--fundo); z-index: 1;}
main {z-index: 2; margin-top: 5em; width: 100%; height: 100%;}

.fontHarry {
    font-family: HarryP;
}

.corLetras {
    color: var(--escrita);
}

.corTitulo {
    background: var(--dourado2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fontVerdana {
    font-family: Verdana;
    text-shadow: 2px 4px 2px #000000;
}

.textoCentralizado {
    text-align: center;
}

h1 {font-size: 3em;}
h2 {font-size: 2em; cursor: default;}

a {
    text-decoration: none;
    font-family: Verdana;
    color: var(--escrita);
    text-decoration-color: var(--bege);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cabecalho);
    height: 3em;
}