#banners {
    display: flex;
    justify-content: space-around;
    height: 100%;
    z-index: 1;
}

#barra {
    position: absolute;
    z-index: 2;
    background: var(--dourado);
    width: 100%;
    height: 1em;
}

.banner {
    width: 20%;
    height: 100%;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 500ms;
}

.banner:hover {
    -webkit-filter: drop-shadow(0px 11px 10px #000000);
    filter: drop-shadow(0px 11px 10px  #000000);
    cursor: pointer;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-==-= Banners -=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-==-==- */

#grifinoria {background-image: url("../../img/casas/banner_grifinoria2.png");}

#sonserina {background-image: url("../../img/casas/banner_sonserina2.png");}

#corvinal {background-image: url("../../img/casas/banner_corvinal2.png");}

#lufalufa {background-image: url("../../img/casas/banner_lufalufa2.png");}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-==-=-==-=-=-=-==-=-==-=-=-=-=-=-==-=-=- */

#origem {background-image: url("../../img/home/hogwarts-trem.jpg");}

#escritora {background-image: url("../../img/home/escritora.jpg");}
