.item {
    width: 100%;
    height: 40em;
    background-color: var(--cabecalho);
    margin-bottom: 8em;
    background-repeat: no-repeat;
    background-size: 100% 40em;
    background-blend-mode: overlay;
    transition: background-color 1s;
    background-color: transparent;
    cursor: default;
}

.item .textoCentralizado {
    opacity: 0;
    transition: opacity 1.5s;
}

.item:hover .textoCentralizado {
    opacity: 1;
}

.item:hover {background-color: var(--fundo);}

.explicativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explicativo h2 {margin-bottom: 1em;}